@media screen and (max-width: 1024px) {
  .wrapper {
      max-width: 1024px;
  }

  /* header */

  .header__wrapper {
      margin-left: 50px;
  }

  /* header */

  /* intro */

  .intro {
      min-height: 100vh;
      background: url(../img/intro-bg.jpg) no-repeat center;
      background-size: cover;
      padding-bottom: 189px;
  }

  /* intro */

  /* garanties */

  .garanties__text {
      padding-top: 100px;
      padding-left: 200px;
      padding-bottom: 101px;
  }

  .benefits__img {
      margin-left: -30px;
  }

  .benefits{
      display: grid;
      grid-template-columns: repeat(3,3fr);
      padding-left: 120px;
  }

  .benefits-1 {
      margin-left: -100px;
      padding-bottom: 40px;
  }

  .vector {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      max-width: 800px;
      margin-left: 120px;
  }
  
  /* garanties */

  /* motivation */

  .wrapper__motivation {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 15px;
  }

  .motivation__box {
      display: block;
      padding-left: 0px;
  }
  
  .motivation__jpg {
      max-width: 430px;
      max-height: 320px;
      padding-left: 40px;
      margin-top: 12px;
  }

  .motivation__text-top {
      padding-top: 0;
      padding-bottom: 0;
  }
  /* motivation */

  /* galery */

  .galery__text-items {
      margin-left: 50px
  }

  .galery__img {
      width: 900px;
      margin-left: 50px;
  }

  /* galery */

  /* video */

  .video__ytb {
      width: 1000px;
      height: 600px;
      margin-left: -13px;
  }

  /* video */
}