@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img{
    max-width: 100%;
    height: auto;
}

/* header start */

.header{
    top: 63px;
    color: black;
}

.header__wrapper {
    display: flex;
    top: 35px;
    position: fixed;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    width: 50px;
    height: 53px;
}

.header__text {
    padding-left: 185px;
}

.header__text-button {
    color: white;
    text-decoration: none;
    padding-left: 45px ;
}

/* header end */

/* intro start */

.intro{
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 189px;
}

.intro__text {
    text-align: center;
    padding-top: 260px ;
    padding-bottom: 28px;
    font-family: 'raleway';
    font-size: 200px;
    font-weight: 700;
    line-height: 235px;
    letter-spacing: 0.6px;
    color: #0D302C;
}

.intro__text-paragraph {
    text-align: center;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    color: black;
}

/* intro end */

/* prewords start */

.pre__text {
    text-align: center;
    color: #01353E;
    font-family: 'Raleway';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-top: 189px;
    padding-bottom: 100px;
}

.advantages__column {
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.advantages2 {
padding-left: 20px;
}

.pre__advantages {
    padding-bottom: 200px;
}
/* prewords end */

/* garanties start */

.background {
    min-height: 100vh;
    background: url(../img/color-bg.jpg) no-repeat center;
    background-size: cover;
}

.garanties__text {
    padding-top: 200px;
}

.garanties__text-top {
    color: #01353E;
}
/* garanties end */


