@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@import url(./header.css);
@import url(./intro.css);
@import url(./prewords.css);
@import url(./garant.css);
@import url(./motivation.css);
@import url(./galery.css);
@import url(./quote.css);
@import url(./video.css);
@import url(./statistics.css);
@import url(./blog.css);
@import url(./slider.css);
@import url(./team.css);
@import url(./services.css);
@import url(./map.css);
@import url(./application.css);
@import url(./footer.css);
@import url(./adaptive.css);


html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#map {
    height: 100%;
}

li {
    list-style: none;
}
