@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Raleway:wght@600;700&display=swap');


/* header start */
.header{
    color: black;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header end */

/* intro start */

.intro {
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
}

.intro__text {
    padding: 200px 650px 0px 650px;
    font-family: raleway;
    font-size: 200px;
    font-weight: 700;
    line-height: 235px;
    letter-spacing: 0.6px;
    text-align: left;
}

.intro__text-paragraph {
    padding: 10px 10px 10px 10px;
}
/* intro end */